$color-text-main: #353535;
$color-light: #fff;
$color-decor: #337e1b;
$color-decor-2: #f0b920;
$color-decor-3: #f3f3f3;
$color-decor-4: #eeeeee;
$color-decor-5: #d9d9d9;
$color-decor-6: #dfdfdf;

$desktop-large: 1650px;
$desktop: 1140px;
$tablet: 950px;
$mobile-medium: 730px;
$mobile-small: 550px;

.hidden {
	display: none !important;
}

.scroll-disabled {
	overflow: hidden;
}

.modal-video {
	position: fixed;
	left: 50%;
	right: 0;
	top: 10vh;
	z-index: 100;
	width: 80%;
	height: 80vh;
	transform: translateX(-50%);
	@media (max-width: $tablet) and (orientation: portrait) {
		top: 25vh;
		width: 90%;
		height: 50vh;
	}
}

.heading {
	position: relative;
	z-index: 1;
	margin: 0;
	font-size: 48px;
	font-weight: 400;
	text-transform: uppercase;
	&-1 {
		color: $color-decor;
		&:before {
			color: $color-decor-3;
		}
	}
	&-2 {
		color: $color-light;
		&:before {
			color: #38871e;
		}
	}
	&:before {
		position: absolute;
		left: -20px;
		bottom: -30px;
		z-index: -1;
		font-size: 120px;
		font-weight: 700;
		text-transform: uppercase;
		@media (max-width: $mobile-medium) {
			bottom: 0;
			font-size: 80px;
		}
		@media (max-width: $mobile-small) {
			font-size: 54px;
			top: -30px;
			bottom: auto;
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 50px;
		height: 6px;
		background-color: $color-decor-2;
	}
	@media (max-width: $mobile-medium) {
		font-size: 42px;
	}
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	background-color: $color-light;
	color: $color-text-main;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	position: relative;
	z-index: 9;
	max-width: 1116px;
	margin: 0 auto;
	padding: 0 20px;
}

a.phone {
	margin-bottom: 4px;
	color: $color-text-main;
	text-decoration: none;
	span {
		font-weight: 500;
	}
	&:hover {
		text-decoration: underline;
	}
	~ .fab {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		text-decoration: none;
		color: $color-light;
		&.fa-viber {
			margin-left: 6px;
			background-color: #6f3faa;
		}
		&.fa-whatsapp {
			background-color: #75b73b;
		}
	}
}

a.social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 48px;
	height: 48px;
	margin: 0 3px; 
	border-radius: 50%;
	background-color: $color-decor-5;
	font-size: 20px;
	color: $color-text-main;
	text-decoration: none;
}

.social-text {
	margin: 0 0 4px;
}

.header {
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 28px;
	}
	.header-logo {
		@media (max-width: $mobile-medium) {
			margin: 0 auto;
		}
	}
	.header-contacts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@media (max-width: $mobile-medium) {
			margin: 40px auto 0;
		}
		@media (max-width: $mobile-small) {
			display: none;
		}
	}
	.header-contacts-phones {
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
		padding-right: 30px;
		border-right: 2px solid $color-decor-5;
	}
	.header-contacts-socials {
		padding-left: 30px;
		text-align: center;
	}
}

// PROGRAM - start
.program {
	position: relative;
	padding-bottom: 70px;
	background-color: #efefef;
	overflow: hidden;
	&-play {
		position: absolute;
		right: 30%;
		top: calc(50% - 45px);
		z-index: 10;
		cursor: pointer;
		&:hover {
			transform: scale(1.2);
		}
		@media (max-width: $desktop) {
			right: 20%;
		}
		@media (max-width: $tablet) {
			right: 8%;
		}
		@media (max-width: $mobile-medium) {
			right: auto;
			left: calc(50% - 45px);
			top: 72px;
		}
		@media (max-width: $mobile-small) {
			top: 67px;
			left: calc(50% - 45px);
		}
	}
	&-bg {
		position: absolute;
		top: 0;
		right: 5%;
		@media (max-width: $desktop-large) {
			right: -14%;
		}
		@media (max-width: $desktop) {
			right: -18%;
			width: 650px;
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}
	.program-announcement {
	    position: relative;
    	top: -5px;
		display: flex;
		color: $color-light;
		.program-date,
		.program-name {
			display: flex;
			height: 72px;
			padding: 0 26px;
		}
		p {
			margin: 0;
		}
		@media (max-width: $mobile-medium) {
			margin-left: -20px;
			margin-right: -20px;
		}
		.program-date {
			align-items: center;
			background-color: #3a8f1e;
			font-weight: 700;
			text-transform: uppercase;
			> span {
				margin-right: 4px;
				font-size: 56px;
			}
			p {
				display: inline-block;
				span:first-child {
					display: block;
					margin-bottom: -4px;
					font-size: 20px;
				}
				span:last-child {
					font-size: 28px;
				}
			}
			@media (max-width: $mobile-small) {
				padding-left: 18px;
				padding-right: 18px;
			}
		}
		.program-name {
			justify-content: center;
			flex-direction: column;
			background-color: $color-decor;
			@media (max-width: $mobile-medium) {
				width: 100%;
			}
		}
	}
	.program-title {
		margin: 74px 0 6px;
		text-transform: uppercase;
		p:first-child {
			margin: 0 0 -8px -13px;
			font-size: 64px;
			font-weight: 300;
			@media (max-width: $desktop) {
				font-size: 58px;
			}
			@media (max-width: $mobile-medium) {
				font-size: 50px;
			}
			@media (max-width: $mobile-small) {
				font-size: 40px;
			}
		}
		p:last-child {
			margin: 0;
			font-size: 46px;
			font-weight: 700;
			color: $color-decor;
			@media (max-width: $desktop) {
				font-size: 42px;
			}
			@media (max-width: $mobile-medium) {
				font-size: 38px;
			}
			@media (max-width: $mobile-small) {
				font-size: 30px;
			}
		}
		@media (max-width: $mobile-medium) {
			margin-top: 90px;
		}
	}
	.program-subtitle {
		margin: 0 0 64px;
		font-size: 21px;
		font-weight: 700;
		color: #e4a800;
		p {
			margin: 0;
		}
	}
	.program-buttons {
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 264px;
			height: 56px;
			box-sizing: border-box;
			border-radius: 36px;
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			@media (max-width: $mobile-small) {
				width: 100%;
			}
		}
		.program-price {
			margin-right: 6px;
			background-color: $color-decor;
			color: $color-light;
			@media (max-width: $mobile-small) {
				margin: 0 0 20px;
			}
		}
		.program-free {
			border: 3px solid $color-decor;
			color: $color-decor;
		}
		@media (max-width: $mobile-small) {
			text-align: center;
		}
	}
}
// PROGRAM - end

// PROFIT - start
.profit {
	padding: 72px 0 100px;
	color: #707070;
	.profit-difficulties {
		position: relative;
		display: inline-flex;
		align-items: center;
		&:after {
			content: '';
			position: absolute;
			left: -20px;
			right: -20px;
			top: 0;
		    bottom: 38px;
    		z-index: -1;
			background-color: $color-decor-4;
			@media (max-width: $mobile-medium) {
				top: -10px;
				bottom: -10px;
			}
		}
		span {
			margin-right: 10px;
			font-size: 100px;
			font-weight: 700;
		    letter-spacing: -3px;
		    @media (max-width: $mobile-medium) {
		    	font-size: 70px;
		    }
		}
		p {
			margin: 0;
			font-size: 24px;
			font-weight: 300;
			@media (max-width: $mobile-medium) {
				font-size: 20px;
			}
		}
		@media (max-width: $mobile-medium) {
			width: 100%;
		}
	}
	.profit-heading {
		margin: 40px 0 56px;
		&:before {
			content: 'знания';
		}
	}
	.profit-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 30px;
		.profit-list-1 {
			width: 410px;
			margin: 0;
			padding-left: 54px;
			list-style: none;
			li {
				position: relative;
				margin-bottom: 20px;
				&:before {
					content: url(../../img/list.png);
					position: absolute;
					left: -54px;
					    top: 50%;
    					transform: translateY(-50%);
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
			@media (max-width: $desktop) {
				width: 100%;
			}
		}
		.profit-list-2 {
			width: 500px;
			p {
				margin: 0 0 10px;
				padding: 22px 26px 28px 96px;
				background-position: 26px 18px;
				background-repeat: no-repeat;
				border: 5px solid #e3e3e3;
				&:nth-child(1) {
					background-image: url(../../img/profit-1.png);
				}
				&:nth-child(2) {
					background-image: url(../../img/profit-2.png);
				}
				&:nth-child(3) {
					background-image: url(../../img/profit-3.png);
					margin-bottom: 0;
				}
				@media (max-width: $mobile-small) {
					padding: 22px 18px 22px 82px;
					-ms-background-position-x: 18px;
					background-position-x: 18px;
				}
			}
			@media (max-width: $desktop) {
				width: 100%;
				margin-top: 40px;
			}
		}
		@media (max-width: $mobile-small) {
			padding: 0;
		}
	}
}
// PROFIT - end

// COURSE - start
.course {
	padding: 98px 0;
	background-color: $color-decor;
	.course-heading {
		margin-bottom: 58px;
		&:before {
			content: 'программа';
		}
	}
	.course-modules {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		background-color: #35861b;
	}
	.course-module {
		width: 33.33%;
		padding: 28px 0 38px;
		&-desc {
			max-height: 0;
			margin: 0;
			padding: 0 20px;
			transition: .3s;
			overflow: hidden;
			&.expanded {
				max-height: 1000px;
			}
		}
		p {
			&:first-child {
				position: relative;
				display: inline-block;
				margin: 0 0 20px;
				font-size: 20px;
				font-weight: 500;
				text-transform: uppercase;
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -6px;
					height: 2px;
					background-color: $color-decor-5;
				}
			}
		}
		button {
			width: 42px;
			height: 42px;
			margin: 34px 0 20px;
			background-color: transparent;
			border: 3px solid #b2b2b2;
			border-radius: 50%;
			color: #f0bb29;
			cursor: pointer;
			outline: none;
			transition: .2s;
			&.rotate {
				transform: rotateZ(90deg);
			}
		}
		&:nth-child(2n-1) {
			background-color: $color-decor-4;
		}
		&:nth-child(2n) {
			background-color: $color-light;
		}
		&:nth-child(8) {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #3a8f1e;
		}
		&-reg {
			display: inline-block;
			width: 262px;
			height: 46px;
			border: 3px solid $color-decor-2;
			border-radius: 30px;
			line-height: 46px;
			color: $color-decor-2;
			text-transform: uppercase;
			text-decoration: none;
			@media (max-width: $mobile-medium) {
				width: 90%;
			}
			@media (max-width: $mobile-small) {
				width: 240px;
			}
		}
		@media (max-width: $mobile-medium) {
			width: 50%;
			&:nth-child(n) {
				background-color: $color-decor-4;
			}
			&:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8) {
				background-color: $color-light;
			}
		}
		@media (max-width: $mobile-small) {
			width: 100%;
			&:nth-child(2n) {
				background-color: $color-light;
			}
			&:nth-child(2n-1) {
				background-color: $color-decor-4;
			}
		}
	}
}
// COURSE - end

// SKILLS - start
.skills {
	padding: 94px 0 170px;
	.skills-heading {
		&:before {
			content: 'умения';
		}
	}
	h3 {
		margin: 10px 0 42px;
		font-size: 24px;
		font-weight: 300;
		color: #707070;
	}
	.skills-slides {
		.owl-stage-outer {
			height: 168px;
		}
		.owl-nav {
			width: 100px;
			@media (max-width: $desktop) {
				width: 120px;
			}
			@media (max-width: $tablet) {
				width: 144px;
			}
			@media (max-width: $mobile-medium) {
				width: 168px;
			}
			@media (max-width: $mobile-small) {
				width: 288px;
			}
		}
		.owl-dots {
			left: 25px;
    		bottom: -52px;
		}
	}
	.skills-slide {
		position: relative;
		display: flex;
		align-items: center;
		/*width: 210px;*/
		height: 136px;
		padding: 0 20px;
		box-sizing: border-box;
		border: 5px solid #e3e3e3;
		text-align: center;
		span {
			position: absolute;
			top: 4px;
			left: 4px;
			font-size: 15px;
			font-weight: 700;
			color: $color-decor-2;
		}
		p {
			margin: 0;
		}
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -34px;
			transform: translateX(-50%);
			width: 50px;
			height: 40px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: $color-light;
			background-image: url(../../img/skill-1.png);
		}
		&-1:before {
			background-image: url(../../img/skill-1.png);
		}
		&-2:before {
			background-position-x: 80%;
			background-image: url(../../img/skill-2.png);
		}
		&-3:before {
			background-image: url(../../img/skill-3.png);
		}
		&-4:before {
			background-image: url(../../img/skill-4.png);
		}
		&-5:before {
			background-image: url(../../img/skill-5.png);
		}
		&:after {
			content: '';
			position: absolute;
			left: 40px;
			right: 40px;
			bottom: -34px;
			height: 2px;
			background-color: #c8c8c8;
		}
	}
}
// SKILLS - end

// FORMAT - start
.format {
	padding: 90px 0 100px;
	background-color: $color-decor-3;
	.format-heading {
		text-align: left;
		&:before {
			content: 'формат';
			color: #e9e9e9;
		}
	}
	.format-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 30px 0 24px;
		text-align: left;
	}
	.format-plan {
		width: 746px;
		.format-plan-top {
			display: flex;
			flex-wrap: wrap;
			padding: 24px 0;
			border-bottom: 2px solid $color-decor-6;
			text-align: center;
			div {
				width: 25%;
			    padding: 0 22px;
				box-sizing: border-box;
				border-right: 2px solid $color-decor-6;
				&:last-child {
					border-right: none;
				}
				&:nth-child(2) {
					@media (max-width: $mobile-medium) {
						border-right: none;
					}
				}
				@media (max-width: $mobile-medium) {
					width: 50%;
				}
				@media (max-width: $mobile-small) {
					width: 100%;
					margin-bottom: 20px;
					border-right: none;
					border-bottom: 2px solid $color-decor-6;
				}
			}
			p {
				margin: 0;
				font-weight: 500;
				text-transform: uppercase;
			}
			img {
				display: inline-block;
				margin: 25px 0;
			}
			@media (max-width: $mobile-small) {
				border-bottom: none;
			}
		}
		.format-plan-bottom {
			display: flex;
			flex-wrap: wrap;
			margin-top: 18px;
			div {
				display: flex;
				width: 50%;
				padding: 16px 30px;
				box-sizing: border-box;
				&:nth-child(1), &:nth-child(3) {
					border-right: 2px solid $color-decor-6;
				}
				img {
					margin-right: 22px;
				}
				p {
					margin: 0;
				}
				@media (max-width: $mobile-small) {
					width: 100%;
					border-right: none !important;
				}
			}
		}
		@media (max-width: $desktop) {
			width: 100%;
		}
	}
	.format-certificates {
		width: 353px;
		padding: 26px 30px 84px;
		background-color: #e7e7e7;
		box-sizing: border-box;
		text-align: center;
		> p {
			margin: 0 0 16px;
			font-weight: 500;
			text-transform: uppercase;
		}
		.format-certificates-slides {
			p {
				margin: 16px 0 0;
				font-size: 14px;
			}
			.owl-nav {
				left: 50%;
				transform: translateX(-50%);
				width: 126px;
			}
			.owl-dots {
				left: 50%;
				transform: translateX(-50%);
				bottom: -51px;
			}
		}
		@media (max-width: $desktop) {
			margin: 40px auto 0;
		}
		@media (max-width: $mobile-small) {
			width: 100%;
		}
	}
	.format-registration {
		display: inline-block;
		margin-left: 30px;
		padding: 16px 22px;
		border-radius: 30px;
		border: 3px solid #e0004f;
		font-size: 18px;
		font-weight: 700;
		color: #e0004f;
		text-decoration: none;
		text-transform: uppercase;
		@media (max-width: $desktop) {
			margin-left: 0;
		}
	}
	@media (max-width: $desktop) {
		text-align: center;
	}
}
// FORMAT - end

// TEAM - start
.team {
	padding: 94px 0;
	background-color: #337e1b;
	&-heading {
		margin-bottom: 60px;
		&:before {
			content: 'команда';
		}
	}
	&-block {
		display: flex;
		flex-wrap: wrap;
	}
	&-coach {
		width: 50%;
		padding: 38px 182px 46px 40px;
		background-position: 104% 100%;
		background-repeat: no-repeat;
		box-sizing: border-box;
		h3 {
			display: inline-block;
			margin: 0;
			font-size: 24px;
			font-weight: 500;
			color: $color-decor;
			text-transform: uppercase;
			&:after {
				content: '';
				display: block;
				height: 2px;
				margin-top: 4px;
				background-color: $color-decor-5;
			}
		}
		> p {
			margin: 16px 0;
			font-size: 18px;
			font-weight: 500;
		}
		ul li {
			position: relative;
			margin-bottom: 8px;
			padding-left: 10px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 2px;
				background-color: $color-decor-2;
			}
		}
		&-1 {
			background-color: $color-decor-4;
			background-image: url(../../img/tararina.png);
			@media (max-width: $mobile-small) {
				background-image: url(../../img/tararina-small.png);
			}
		}
		&-2 {
			background-color: $color-light;
			background-image: url(../../img/ivzhenko.png);
			@media (max-width: $mobile-small) {
				background-image: url(../../img/ivzhenko-small.png);
			}
			ul p {
				margin: 0;
			}
		}
		@media (max-width: $desktop) {
			width: 80%;
			margin: 0 auto;
			padding-top: 90px;
		}
		@media (max-width: $tablet) {
			width: 100%;
		}
		@media (max-width: $mobile-small) {
			padding: 60px 40px 190px;
		}
	}
	&-video-block {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50%;
		height: 314px;
		background: #296515 url(../../img/video-bg.png) 50% 50% no-repeat;
		&-play {
			cursor: pointer;
			transition: .2s;
			&:hover {
				transform: scale(1.2);
			}
		}
		@media (max-width: $desktop) {
			width: 80%;
			height: 400px;
			margin: 0 auto;
		}
		@media (max-width: $tablet) {
			width: 100%;
		}
		@media (max-width: $mobile-medium) {
			height: 300px;
		}
	}
	&-stat {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		background-color: #307719;
		&-masters {
			width: 50%;
			@media (max-width: $mobile-medium) {
				width: 100%;
			}
		}
		&-online {
			width: 50%;
			@media (max-width: $mobile-medium) {
				width: 100%;
			}
		}
		&-item {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 50%;
			padding: 0 42px;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			box-sizing: border-box;
			text-align: center;
			p {
				margin: 0;
				font-weight: 500;
				color: $color-light;
			}
			span {
				font-size: 50px;
				font-weight: 700;
				color: $color-decor-2;
			}
			@media (max-width: $desktop) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
			@media (max-width: $tablet) {
				padding-left: 0;
				padding-right: 0;
			}
		}
		&-people {
			background-image: url(../../img/people.png);
		}
		&-country {
			background-image: url(../../img/country.png);	
		}
		@media (max-width: $desktop) {
			width: 80%;
			margin: 0 auto;
		}
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
}
.team-video {

}
// TEAM - end

// MASS MEDIA - start
.mass-media {
	padding: 96px 0 166px;
	background-color: $color-decor-3;
	&-heading {
		margin-bottom: 56px;
		&:before {
			content: 'мы в сми';
			color: #e9e9e9;
		}
	}
	.mass-media-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 34px 0 20px;
		border-right: 2px solid $color-decor-6;
		&-first {
			border-left: 2px solid $color-decor-6;
		}
		img {
			display: block;
			width: 80%;
			margin-bottom: 14px;
			filter: grayscale(1);
			opacity: .6;
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			order: 2;
			width: 36px;
			height: 36px;
			background-color: $color-decor-5;
			border-radius: 50%;
			color: $color-text-main;
			text-decoration: none;
			&:hover {
				background-color: $color-decor-2;
				+ img {
					opacity: 1;
					filter: none;
				}
			}
		}
	}
	.owl-dots {
		bottom: -52px;
	    left: 25px;
	}
	.owl-nav {
		width: 100px;
		@media (max-width: $mobile-medium) {
			width: 118px;
		}
		@media (max-width: $mobile-small) {
			width: 144px;
		}
	}
}
// MASS MEDIA - end

// REVIEWS - start
.reviews {
	padding: 92px 0 172px;
	&-heading {
		&:before {
			content: 'отзывы';
		}
		+ p {
			margin: 12px 0 46px;
			font-size: 24px;
			font-weight: 300;
		}
	}
	&-video {
		.reviews-video-item-inside {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(56, 55, 55, 0.95);
			text-align: center;
			&-logo {
				display: block;
				width: auto !important;
				margin: 54px auto;
				opacity: .7;
			}
			span {
				display: inline-block;
				margin-bottom: 10px;
				padding: 4px 20px;
				font-size: 30px;
				font-weight: 300;
				background-color: #c0941a;
			}
			p {
				margin: 0;
			    color: rgba(255, 255, 255, .6);
			}
			&-play {
				position: absolute;
				left: calc(50% - 45px);
				top: calc(50% - 45px);
				width: auto !important;
				transition: .2s;
				cursor: pointer;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		.flexslider .slides {
			@media (max-width: $desktop) {
				width: 70%;
			}
			@media (max-width: $mobile-medium) {
				width: 100%;
			}
		}
		.flex-control-thumbs {
			@media (max-width: $desktop) {
				width: 29%;
			}
			@media (max-width: $mobile-medium) {
				display: none;
			}
		}
	}
}
// REVIEWS - end

// REQUEST - start
.request {
	padding: 96px 0;
	background-color: $color-decor;
	&-heading {
		&:before {
			content: 'заявка';
		}
		+ p {
			margin: 12px 0 46px;
			font-size: 24px;
			font-weight: 300;
			color: $color-light;
		}
	}
	&-block {
		display: flex;
		flex-wrap: wrap;
		height: auto !important;
		iframe {
			width: 52% !important;
			height: auto !important;
			padding: 50px 35px;
			background-color: $color-decor-4;
		    box-sizing: border-box;
		    @media (max-width: $tablet) {
		    	width: 100% !important;
		    	height: 480px !important;
		    }
		}
		&-form {
			width: 52%;
			padding: 50px;
			background-color: $color-decor-4;
		    box-sizing: border-box;
		}
		&-tip {
			width: 48%;
			padding: 50px;
			background-color: $color-light;
			box-sizing: border-box;
			text-align: center;
			h5 {
				position: relative;
				display: inline-block;
				margin: 0 0 20px;
				font-size: 30px;
				font-weight: 400;
				color: $color-decor;
				&:after {
					content: '';
					position: absolute;
					bottom: -6px;
					left: 0;
					right: 0;
					height: 2px;
					background-color: $color-decor-5;
				}
			}
			p {
				width: 73%;
				margin: 0 auto;
			    line-height: 1.2;
			}
			img {
				display: inline-block;
				margin: 14px 0;
			}
			@media (max-width: $tablet) {
		    	width: 100%;
		    }
		    @media (max-width: $mobile-small) {
		    	padding: 30px;
		    }
		}
	}
}
// REQUEST - end

// CONTACTS - start
.contacts {
	padding: 98px 0 58px;
	&-heading {
		&:before {
			content: 'контакты';
		}
		+ p {
			margin: 12px 0 46px;
			font-size: 24px;
			font-weight: 300;
		}
	}
	&-block {
		display: flex;
		flex-wrap: wrap;
		&-phones {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 4px 30px 4px 90px;
			background: url(../../img/man.png) 18px 50% no-repeat;
			a:last-child {
				margin-bottom: 0;
			}
		}
		&-nav {
			display: flex;
			align-items: center;
			padding: 4px 0 4px 28px;
			border-left: 2px solid $color-decor-5;
			border-right: 2px solid $color-decor-5;
			ul {
				column-count: 2;
				li {
					margin-bottom: 4px;
				}
				a {
					color: $color-text-main;
					&:hover {
						text-decoration: none;
					}
				}
			}
			@media (max-width: $tablet) {
				border-right: none;
			}
			@media (max-width: $mobile-medium) {
				margin-top: 40px;
				padding-left: 100px;
				border-left: none;
			}
		}
		&-socials {
			padding: 4px 0 4px 28px;
			@media (max-width: $tablet) {
				margin-top: 40px;
			}
			@media (max-width: $mobile-medium) {
				padding: 0;
				text-align: center;
			}
		}
		@media (max-width: $mobile-medium) {
			flex-direction: column;
			align-items: center;
		}
	}
}
// CONTACTS - end

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	width: 500px;
	transform: translate(-50%, -50%);
	iframe {
		background-color: #c3c3c3;
	}
}

.mask {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0,0,0,.85);
}